<!-- main begin css -->
<div class="section section1">
    <div class="section1-bg"></div>
    <div class="wrap">
        <div class="section1-txt1"></div>
        <div class="section1-txt2"></div>
        <div class="tel"><img src="{{ src_url }}img/tel2.png?v=20150730001" height="90" width="auto" /></div>
    </div>
</div>

<div class="section section2">
    <div class="wrap">
        <ul class="clearfix list1">
            <li>
                <span class="icon icon01"></span>
                <h4>产权调查</h4>
                <p>官方渠道查证，明确交易房屋的权利人、<br />抵押状态等10种基本信息</p>
            </li>
            <li>
                <span class="icon icon02"></span>
                <h4>签订合同</h4>
                <p>签约专员协助交易条件谈判、逐条审核合同条款，<br />保障交易安全</p>
            </li>
            <li>
                <span class="icon icon03"></span>
                <h4>银行贷款</h4>
                <p>银行贷款预审，挑选利率最优惠的银行，<br />节省每一分利息支出</p>
            </li>
        </ul>
        <ul class="clearfix list2">
            <li>
                <span class="icon icon01"></span>
                <h4>交易过户</h4>
                <p>专业售后人员提前告知准备材料，<br />避免因为对交易程序不熟造成的费时费力</p>
            </li>
            <li>
                <span class="icon icon02"></span>
                <h4>物业交割</h4>
                <p>协助进行设施设备清点、水电煤、<br />维修基金等过户，签署房屋交接书</p>
            </li>
        </ul>
    </div>
</div>