@charset "utf-8";
.section {
	position: relative;
	min-width: 1100px;
}

/* for section1 */
.section1 { 
	height: 764px; 
	overflow: hidden;
}
.section1-bg {
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/banner4.jpg) no-repeat center;
	height: 100%;
	width: 100%;
	background-size: cover;
}
.section1-txt1 {
	position: relative;
	margin: 163px auto 0 auto;
	background: url(../img/font7.png) no-repeat left top;
	height: 62px;
	width: 565px;
}
.section1-txt2 {
	position: relative;
	margin: 25px auto 0 auto;
	background: url(../img/font8.png) no-repeat left top;
	height: 36px;
	width: 487px;
}
.section1 .tel {
	margin-top: 82px;
	text-align: center;
}

/* for section2 */
.section2 { padding: 115px 0; }
.section2 .list1 {
	margin-bottom: 115px;
}
.section2 .list2 { margin: 0 120px; }
.section2 .list1 li { width: 33%; }
.section2 .list2 li { width: 50%; }
.section2 li {
	float: left;
	color: #666;
	font-size: 16px;
	text-align: center;
}
.section2 .icon {
	display: inline-block;
	height: 140px;
	width: 140px;
	background: url(../img/icon-wt.png) no-repeat 0 0;
}
.section2 .icon02 {
	background-position: 0 -140px;
}
.section2 .icon03 {
	background-position: 0 -280px;
}
.section2 h4 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 5px;
}