<!-- footer begin -->
<div class="footer">
    <div class="footer-nav">
        <ul class="clearfix">
            <li><a href="/about/us">关于我们</a></li>
            <li><a href="/about/site">网站用户协议</a></li>
            <li><a href="/about/service">用户服务协议</a></li>
            <li><a href="javascript:;" class="nobd">网站地图</a></li>
            <li><img class="code" src="{{ src_url }}img/code.png" height="123" width="122" /></li>
        </ul>
    </div>
    <p class="footer-txt">公司名称及备案号</p>
</div>
<!-- footer end -->
<script src="{{ src_url }}js/global.js" type="text/javascript"></script>
</body>
</html>
