<div class="main">
    <div class="wrap clearfix">
        <!-- main left begin -->
        <div class="main-left">
            <ul>
                <li><a href="" class="current">我的收藏</a></li>
                <li><a href="/my/account">管理账号</a></li>
            </ul>
        </div>
        <!-- main left end -->

        <!-- main right begin -->
        <div class="main-right">
            <div class="crumb"><a href="#">首页</a> > <span>我的收藏</span></div>
            <div class="clearfix result-filters">
                <div class="result-sort">
                    <a class="selected" href="#">默认</a>
                    <a href="#">总价<i class="icon-up"></i></a>
                    <a href="#">面积<i class="icon-down"></i></a>
                </div>
                <div class="result-pages">
                    <span class="txt">共收藏<em>70</em>个房源</span>
                    <span class="prev" href="#"><i></i></span>
                    <span class="num on">1</span>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a class="next" href="#"><i></i></a>
                </div>
            </div>

            <div class="result-list">
                <ul class="clearfix">
                    <li>
                        <a class="house-pic" href="#"><img src="{{ src_url }}img/pic2.png" height="192" width="288" /></a>
                        <div class="house-info">
                            <div class="clearfix title">
                                <h3><a href="#">仁恒河滨花园</a></h3>
                                <span class="area">长宁区</span>
                            </div>
                            <p class="address">
                                <i></i>
                                芙蓉江路388弄
                            </p>
                            <p class="attr">
                                <i></i>
                                <span>3室2厅1卫</span>
                                <span>138平米</span>
                                <span>楼层：3/22</span>
                            </p>
                            <p class="desc">房东急售，满五年唯一，家具家电全送，钥匙房随时看房</p>
                        </div>
                        <div class="house-price"><strong class="total">1200万</strong><br />58654元/平米</div>
                        <span class="j-favorite favorite"></span>
                    </li>

                    <li>
                        <a class="house-pic" href="#"><img src="{{ src_url }}img/pic2.png" height="192" width="288" /></a>
                        <div class="house-info">
                            <div class="clearfix title">
                                <h3><a href="#">仁恒河滨花园</a></h3>
                                <span class="area">长宁区</span>
                            </div>
                            <p class="address">
                                <i></i>
                                芙蓉江路388弄
                            </p>
                            <p class="attr">
                                <i></i>
                                <span>3室2厅1卫</span>
                                <span>138平米</span>
                                <span>楼层：3/22</span>
                            </p>
                            <p class="desc">房东急售，满五年唯一，家具家电全送，钥匙房随时看房</p>
                        </div>
                        <div class="house-price"><strong class="total">1200万</strong><br />58654元/平米</div>
                        <span class="j-favorite favorite"></span>
                    </li>

                    <li>
                        <a class="house-pic" href="#"><img src="{{ src_url }}img/pic2.png" height="192" width="288" /></a>
                        <div class="house-info">
                            <div class="clearfix title">
                                <h3><a href="#">仁恒河滨花园</a></h3>
                                <span class="area">长宁区</span>
                            </div>
                            <p class="address">
                                <i></i>
                                芙蓉江路388弄
                            </p>
                            <p class="attr">
                                <i></i>
                                <span>3室2厅1卫</span>
                                <span>138平米</span>
                                <span>楼层：3/22</span>
                            </p>
                            <p class="desc">房东急售，满五年唯一，家具家电全送，钥匙房随时看房</p>
                        </div>
                        <div class="house-price"><strong class="total">1200万</strong><br />58654元/平米</div>
                        <span class="j-favorite favorite"></span>
                    </li>

                    <li>
                        <a class="house-pic" href="#"><img src="{{ src_url }}img/pic2.png" height="192" width="288" /></a>
                        <div class="house-info">
                            <div class="clearfix title">
                                <h3><a href="#">仁恒河滨花园</a></h3>
                                <span class="area">长宁区</span>
                            </div>
                            <p class="address">
                                <i></i>
                                芙蓉江路388弄
                            </p>
                            <p class="attr">
                                <i></i>
                                <span>3室2厅1卫</span>
                                <span>138平米</span>
                                <span>楼层：3/22</span>
                            </p>
                            <p class="desc">房东急售，满五年唯一，家具家电全送，钥匙房随时看房</p>
                        </div>
                        <div class="house-price"><strong class="total">1200万</strong><br />58654元/平米</div>
                        <span class="j-favorite favorite"></span>
                    </li>

                </ul>

                <div class="clearfix result-filters">
                    <div class="result-pages">
                        <span class="txt">共收藏<em>70</em>个房源</span>
                        <a class="prev" href="#"><i></i></a>
                        <span class="num on">1</span>
                        <a href="#" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a class="next" href="#"><i></i></a>
                    </div>
                </div>
            </div>

        </div>        
        <!-- main right begin -->
    </div>
</div>

<script src="{{ src_url }}js/counter.js" type="text/javascript"></script>