<div class="main">
    <div class="wrap clearfix">
        <!-- main left begin -->
        <div class="main-left">
            <ul>
                <li><a href="" class="current">我的收藏</a></li>
                <li><a href="/my/account">管理账号</a></li>
            </ul>
        </div>
        <!-- main left end -->

        <!-- main right begin -->
        <div class="main-right">
            <div class="crumb"><a href="#">首页</a> > <span>我的收藏</span></div>
            <div class="clearfix result-filters">
                <div class="result-sort">
                    <a{% if curr=='default' %} class="selected"{% endif %} href="{{ link['default'] }}">默认</a>
                    <a{% if curr=='price' %} class="selected"{% endif %} href="{{ link['price'] }}">总价<i class="{% if 2==type %}icon-down{% else %}icon-up{% endif %}"></i></a>
                    <a{% if curr=='area' %} class="selected"{% endif %} href="{{ link['area'] }}">面积<i class="{% if 4==type %}icon-down{% else %}icon-up{% endif %}"></i></a>
                </div>
                {{ page }}
            </div>
            
            {% if houseList is not empty %}
            <div class="result-list">
                <ul class="clearfix">
                    {% for value in houseList %}
                    <li houseId="{{ value['id'] }}">
                        <a class="house-pic" href="#"><img src="{{ src_url }}img/pic2.png" height="192" width="288" /></a>
                        <div class="house-info">
                            <div class="clearfix title">
                                <h3><a href="#">{{ parkList[value['parkId']]['name'] }}</a></h3>
                                <span class="area">{{ distList[value['distId']]['name'] }}</span>
                            </div>
                            <p class="address">
                                <i></i>
                                {{ parkList[value['parkId']]['address'] }}
                            </p>
                            <p class="attr">
                                <i></i>
                                <span>{{ value['bedRoom'] }}室{{ value['livingRoom'] }}厅{{ value['bathRoom'] }}卫</span>
                                <span>{{ value['bA'] }}平米</span>
                                <span>楼层：{{ value['floor'] }}/{{ value['floorMax'] }}</span>
                            </p>
                            <p class="desc">{{ value['remark'] }}</p>
                        </div>
                        <div class="house-price"><strong class="total">{{ value['price']/10000 }}万</strong><br />{{ parkList[value['parkId']]['salePrice'] }}元/平米</div>
                        <span class="j-favorite favorite favorite-on"></span>
                    </li>
                    {% endfor %}
                </ul>

                <div class="clearfix result-filters">
                    {{ page }}
                </div>
            </div>
            {% else %}
            <div class="result-list">
                <ul class="clearfix">
                    <li style="text-align:center; padding-top: 50px; font-size: 24px;">
                        暂无收藏
                    </li>
                </ul>
            </div>
            {% endif %}

        </div>        
        <!-- main right begin -->
    </div>
</div>

<script src="{{ src_url }}js/counter.js" type="text/javascript"></script>