<!-- main begin css -->
<div class="section section1">
    <div class="section1-bg"></div>
    <div class="wrap">
        <div class="section1-txt1"></div>
        <div class="section1-txt2"></div>
        <div class="btn"><a href="/sell/add/">在线委托</a></div>
        <div class="tel"><img src="{{ src_url }}img/tel.png" height="113" width="495" /></div>
    </div>
</div>

<div class="section section2">
    <div class="wrap">
        <ul class="clearfix">
            <li>
                <span class="icon icon01"></span>
                <h4>零中介费</h4>
                <p>全程交易保障，零中介费，<br />无任何隐性支出</p>
            </li>
            <li>
                <span class="icon icon02"></span>
                <h4>拒绝骚扰</h4>
                <p>中介号码排查，避免日常电话、<br />看房骚扰</p>
            </li>
            <li>
                <span class="icon icon03"></span>
                <h4>专业服务</h4>
                <p>由专业售后人员为您服务，<br />保障交易安全</p>
            </li>
        </ul>
    </div>
</div>

<!-- main end css -->