<script src="{{ src_url }}My97DatePicker/WdatePicker.js" type="text/javascript"></script>

<div class="maininner">
    <h6 class="maintt"> 您的位置：<a href="/">首页</a> &gt; 运营审核  &gt; <strong class="font_gold"> 黑名单管理 </strong> </h6>
    <form method="get" action="/blacklist/list/">
    <table class="search_form mb15">
        <tbody>
            <tr>    
                <td width="140">
                    <input class="form-control" type="text" placeholder="手机号" name="phone" value="{{ phone }}" />
                </td>

                <td width="360">
                    <div class="timecol">
                        <input type="text" onclick="WdatePicker()" class="Wdate form-control" name="startDate" value="{{ startDate }}" />
                    </div>
                    <span class="my_tittle font_gray">  &mdash; </span>
                    <div class="timecol">
                        <input type="text" onclick="WdatePicker()" class="Wdate form-control" name="endDate" value="{{ endDate }}" />
                    </div>
                </td>
                
                <td>
                    <button class="btn btn-gray" type="submit">搜 索</button>
                    <button type="button" class="btn btn-success ml20 addmodal" > 添加 </button>
                    <button style="margin-left: 20px;" class="btn btn-default" type="button" id="import_excel">导入excel</button> 
                    <button id="add_label" data-toggle="modal" data-target="#addnew"  class="btn btn-success" type="button">excel模板</button>
                </td>                
            </tr>
        </tbody>
    </table>
    </form>

    {% if list is not empty %}
    <table class="table table-hover mt10">
        <tr>
            <th style="width:15%">电话号码</th>
            <th style="width:15%">标记时间</th>
            <th style="width:15%">标记操作人</th>
            <th style="width:45%">备注</th>
            <th style="width:10%">操作</th>
        </tr>
        {% for v in list %}
        <tr id="{{ v['id'] }}">
            <td align="center"> <div>{{ v['phone'] }}</div> </td>
            <td align="center"><div>{{ v['addTime'] }}</div> </td>
            <td align="center" > <div>{{ users[v['operator']]['name'] }}</div> </td>
            <td align="center" > <div>{{ v['remark'] }}</div> </td>
            <td align="center" class="operate">
                <div class=" arrow_tipswrap">
                    <a class="td_delete">删除</a>
                </div>                       
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ page }}
    {% else %}
    <table class="table table-striped table-hover mt10">
        <tr>
            <th style="width:15%">电话号码</th>
            <th style="width:15%">标记时间</th>
            <th style="width:15%">标记操作人</th>
            <th style="width:45%">备注</th>
            <th style="width:10%">操作</th>
        </tr>
    </table>
    <div class="noreascout">
        <div> 
            <p>  <strong class="font14">  很抱歉，没有找到符合条件的账号  </strong></p>
            <p class=" mt10 gray"> 建议您：调整搜索内容，获取更多结果  </p>
        </div>
    </div>
    {% endif %}
</div>

<!-- 添加账号 -->
<div class="modal fade" id="newmodal" tabindex="-1" role="dialog" aria-labelledby="addnewLabel" aria-hidden="true">
    <div class="modal-dialog" style=" width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="addnewLabel"> 添加手机号 </h5>
            </div>
            <div class="modal-body">
                <div class="edittable">
                    <div class="alert alert-warning alert-dismissible errortips" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong> 提示：</strong> <span class="notice-info">您输入的内容有误！</span>
                    </div>
                    <form id="form1" onsubmit="return false" form_tittle="用户" method="post" action="">
                        <table class="edittable">
                            <tr>
                                <td align="right" >
                                    手机:
                                </td>
                                <td>
                                    <input class="form-control" type="tel" id="phone" name="phone" notnull=true  info="手机" rule="/^1[0-9]{10}$/" /><em class=" required"> * </em>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" >
                                    备注:
                                </td>
                                <td style="padding-left: 9px;">
                                    <textarea rows="4" cols="26" name="remark" id="remark"></textarea>
                                    <!--<input style="height:80px;" class="form-control" type="text" verify="email" name="email"  />-->
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="act" value="edit" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success saveButton">保 存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除弹出框 -->
<div style="display:none;"  class="arrow_tipsinner arrow_tips" id="arrow_tips">
    <img width="11" height="8" class="arrow_t" src="{{ src_url }}images/arrow_t.png">
    <h5 class="tittle">系统提示</h5>
    <a class="close_mylabel icon icon_xx"> </a>
    <div class="words">
        <p><em class="icon icon_gantan vm"></em>  <span class="wordsr widthm message"> 确认删除该账号吗？ </span></p>
        <p class="btnwrap">
            <button type="button" class="btn btn-success btn-xs btn-yes">确认</button>
            <button type="button" class="btn btn-default btn-xs widthl2 btn-no">取消</button>
        </p>
    </div>
</div>
<!-- 撤回成功弹出框 -->
<div style="display:none;"  class="arrow_tipsinner arrow_tips" id="del_success_tips">
    <img width="11" height="8" class="arrow_t" src="{{ src_url }}images/arrow_t.png">
    <h5 class="tittle">系统提示</h5>
    <a class="close_mylabel icon icon_xx"> </a>
    <div class="words">
        <p><em class="icon icon_sure vm"></em>  <span class="wordsr widthm message"> 删除账号成功 </span></p>
        <p class="btnwrap mt10"><a href="">返回黑名单列表</a></p>
    </div>
</div>
<!-- 撤回失败弹出框 -->
<div style="display:none;" class="arrow_tipsinner arrow_tips" id="del_fail_tips">
    <img width="11" height="8" class="arrow_t" src="{{ src_url }}images/arrow_t.png">
    <h5 class="tittle">系统提示</h5>
    <a class="close_mylabel icon icon_xx"> </a>
    <div class="words">
        <p><em class="icon icon_error vm"></em>  <span class="wordsr widthm message"> 删除账号失败！ </span></p>
        <p class="btnwrap mt10"><a href="">返回重新操作</a></p>
    </div>
</div>

<!-- 批量导入 -->
<div class="modal fade" id="import_modal" tabindex="-1" role="dialog" aria-labelledby="addnewLabel" aria-hidden="true">
    <div class="modal-dialog" style=" width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="zhuanyiLabel">批量导入黑名单</h5>
            </div>
            <div class="modal-body">
                <div class="edittable"> 
                    <p class="errortips" id="errortips" style="display: none;"> <em class=" icon icon_tips"> </em><span>批量导入失败</span> </p>
                    <form enctype="multipart/form-data" action="/blacklist/import/" target="e_f_l" method="post" id='formimport'>
                        <table class="edittable">
                            <tr>
                                <td width="140" style=" padding-left:13px;">
                                    <input name="filecsv" type="file" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" padding-left:13px;">
                                    <input type="hidden" name="act" value="" />
                                    <button type="button" class="btn btn-primary" id="save_import">确 认</button>
                                    <button type="button" class="btn btn-default widthl2" data-dismiss="modal">取 消</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <iframe id="e_f_l" name="e_f_l" style="display:none;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var menu = 'menu4';
    var moudle = 'blacklistlist';
    
    function doframe(str) {
        if (str) {
            alert(str);
        }
        location.reload(false);
    }
    
    function initModal() {
        $("#newmodal").find("form")[0].reset();
    }
    
    function modal_hide() {
        $("#import_modal").modal("hide");
    }
        
    $(function () {
        //点击导入
        $("#import_excel").click(function() {
            $.clearError("errortips");
            $("#import_modal").smodal({title: "", act: 'import'});
        });
        
        $("#save_import").click(function() {
            $.clearError();
            if ($("input[name=filecsv]").val() == "") {
                $.error("请选择上传的csv文件");

                return false;
            }
            $("#formimport").get(0).submit();
            window.setTimeout(modal_hide, 1000);
        });
        
        //下载模板
        $("#add_label").click(function() {
            location.href = '/blacklist/download';
            //$("#import_modal").smodal({title: "", act: 'import'});
        });                    
    
        var cururl = base_url + "blacklist/";
        $(".saveButton").click(function () {
            _do = $("#form1").find("input[name=act]").val();
            
            $("#form1").ajaxSubmit({
                "url": cururl + _do,
                "callback": function (msg) {
                    if (msg.status == 0) {
                        alert('添加手机号成功');
                        location.reload(false);
                    } else {
                        $.error(msg.info);
                    }
                }
            });
        });

        $(".addmodal").click(function () {
            initModal();
            $("#newmodal").smodal({title: "添加手机号", act: 'add'});
        });       

        $('.td_delete').click(function () {
            var hsId = $(this).parent().parent("td").parent("tr").attr("id");
            var _this = $(this);
            _this.delConfirm("删除确认", "确定要删除吗?", function (result) {
                if (result == true) {
                    $.request({
                        url: cururl + "del/" + hsId + "/",
                        callback: function (msg) {
                            if (msg.status == 0) {
                                _this.delSuccess("删除成功");
                                location.reload(false);
                            } else {
                                var info = msg.info ? msg.info : '删除失败';
                                _this.delFail(info);
                                //alert("删除失败!")
                            }

                        }
                    });
                }
                else {
                    //alert(2)
                }
            });
        });            
    });

</script>