body{
    background: #fff;
}
/* -------container star--------- */
.wid310{
    width: 310px;
}
.wid260 {
    width:260px;
}
.wid390 {
    width:390px;
}
.wid190 {
    width:190px;
}
.wid80 {
    width:80px;
}
.wid60 {
    width:60px;
}
.container {
    border-bottom:1px solid #e0e0e0;
    padding-bottom:38px;
    text-align:left;
}
/* container h5 */
/*.container h5 {
    font-family: \5fae\8f6f\96c5\9ed1;
    margin-bottom:10px;
    padding-top:25px;
}
.container h5 span {
    display: inline-block;
    *display:inline;
    width: 80px;
    height: 29px;
    color: #0072C6;
    font-size: 18px;
    font-weight: 200;
    line-height: 29px;
    text-align: center;
    zoom: 1;
}*/
.p_title{
    margin: 76px 0 42px;
    font-size: 24px;
    text-align: center;
}
/* inputBox */
.inputBox_wrap{ background-color:#fff; padding:30px 0; /*border:solid 1px #dddddd;font-family:\5b8b\4f53;*/
    margin: 0 auto;
    width: 905px;
}
.inputBox {
    margin-top:18px;
    color:#333;
    position:relative;
}
.inputBox p {
    width:730px;
    margin:4px 0 0 171px;
    color:#666;
    line-height:18px;
}
.inputBox b {
    display:inline-block;
    *display:inline;
    width:270px;
    margin-right:20px;
    font-size:18px;
    font-weight:bold;
    text-align:right;
    *zoom:1;
}
.inputBox .txt {
    display:inline-block;
    *display:inline;
    height:24px;
    padding:14px 5px 10px;
    border:1px solid #CDCDCD;
    color:#333;
    vertical-align:middle;
    *zoom:1;
    background: url("../img/icon_fabu.png") repeat-x 0 -90px;
    *background-image: url("../img/icon_fabu.gif");
    font-size: 14px;
}
.inputBox .txt input {
    border:none 0;
    outline:none;
    /*font-family:Tahoma,"宋体";*/
}
.inputBox .item-drop {
    position:relative;
    display:inline-block;
    *display:inline;
    margin-right:10px;
    width:92px;
    cursor:pointer;
    border:1px solid #CDCDCD;
    /*background:#fff url("../img/arrow_down.gif") 100px 50% no-repeat;*/
    /*padding:0 18px 0 8px;
    height:28px;*/
    /*height: 24px;
    padding: 16px 5px 8px;*/
    z-index:2;
    zoom:1;
    vertical-align: middle;
}
.inputBox .hover {
    /*background:#fff url("../img/arrow_up.gif") 100px 50% no-repeat;*/
    border:1px solid #0094ff;
}
.inputBox .item-drop em {
    display: inline-block;
    width: 75px;
    font-style:normal;
    font-size:14px;
    color:#333;
    /*line-height:28px;*/
    height: 24px;
    padding: 16px 5px 8px;
    background:url("../img/arrow_down.gif") right 50% no-repeat;
}
.inputBox .hover em{
    background:#fff url("../img/arrow_up.gif") right 50% no-repeat;
}
.inputBox .item-drop-list {
    position:absolute;
    left:-1px;
    top:49px;
    width:92px;
    /*padding-bottom:3px;*/
    border:1px solid #d6d6d6;
    border-top:0;
    background:#fff;
}
.inputBox .item-drop-list a {
    display:block;
    height:32px;
    line-height:32px;
    padding:0 8px;
    color:#333
}
.inputBox .item-drop-list a:hover {
    background:#f9f9f9;
    color:#333;
    text-decoration:none;
}
.inputBox .textAreaBox {
    display:inline-block;
    *display:inline;
    border:1px solid #cdcdcd;
    *zoom:1;
}
.inputBox .textAreaBox textarea {
    width:392px;
    height:110px;
    padding:5px;
    border:none 0;
    color:#999;
    outline:none;
    resize:none;
}
/*.inputBox .btn {
    display:inline-block;
    *display:inline;
    width:124px;
    height:35px;
    margin-right:5px;
    padding:0 0 0 25px;
    *padding-top:3px;
    background:url(../../img/btn_upload.gif) no-repeat;
    border:none 0;
    outline:0;
    cursor:pointer;
    font-size:16px;
    font-family:"微软雅黑";
    color:#333;
    *zoom:1;
}*/
.inputBox em {
    font-style:normal;
    font-size:14px;
}
.inputBox input {
    vertical-align:middle;
}
.inputBox .cureRight {
    margin-left:10px;
    padding-left:20px;
    background: url("../img/icon_fabu.png") 0 -60px no-repeat;
    *background-image: url("../img/icon_fabu.gif");
    vertical-align:top;
    line-height:20px;
    height:20px;
    display:inline-block;
    margin-top:12px;
}
/* 判断输入框后边提示窗口 */
.inputBox .flag{ position:absolute; left:auto; top:0; margin-left:10px;}
.inputBox .cure,.inputBox .cureCen,.inputBox .cure02,.inputBox .cureCen02,.inputBox .cureRed,.inputBox .cureRed .cureCen {
    display:inline-block;
    *display:inline;
    *zoom:1;
    border-radius:3px;
}
.inputBox .cure {
    height:48px;
    padding-left:7px;
    background-color:#fffceb;
    border:solid 1px #e5dbc3;
    vertical-align:top;
}
.inputBox .cureCen {
    height:48px;
    padding-right:7px;
    color:#666;
    line-height:48px;
}
.inputBox .cure02 {
    height:40px;
    padding-left:7px;
    background-color:#fffceb;
    border:solid 1px #e5dbc3;
    vertical-align:middle;
}
.inputBox .cureCen02 {
    height:40px;
    padding-right:7px;
    color:#666;
    line-height:18px;
}
.inputBox .cureRed {
    height:48px;
    padding-left:7px;
    background-color:#ffeaea;
    border:solid 1px #e5c3c4;
    vertical-align:top;
}
.inputBox .cureRed .cureCen {
    height:48px;
    padding-right:7px;
    color:#d80100;
    line-height:48px;
}
/* inputPic */
.inputPic {
    margin-top:20px;
    padding-left:60px;
}
.inputPic ul {
    width:880px;
}
.inputPic li {
    margin: 0 10px 10px 0;
    float:left;
    display:inline;
    width: 216px;
    height: 149px;
    position: relative;
}
.inputPic li img {
    width: 216px;
    height: 149px;
}
.inputPic li p a {
    position: absolute;
    top: 5px;
    right: 5px;
    display:inline-block;
    *display:inline;
    width:20px;
    height:20px;
    background:url(../img/icon_fabu.png) no-repeat 0 -148px;
    *background-image: url("../img/icon_fabu.gif");
    text-indent:-9999px;
    cursor:pointer;
    *zoom:1;
}
.inputPic li p a:hover {
    background-position:0 -33px;
}
/* faBu */
.faBu {
    margin-top:40px;
    text-align:center;
}
.faBu .btn {
    display:inline-block;
    *display:inline;
    height:50px;
    /*background-color:#ff7800;
    border:solid 1px #ff7800;*/
    border-radius:2px;
    *zoom:1;
}

.faBu .btn:hover{
    background-color:#ff8f16;
    border-color:#ff4600;
}
.faBu .btn:hover input {
    background-color:#ff8f16;
}
.faBu .btn input {
    display:inline-block;
    *display:inline;
    height: 50px;
    line-height: 50px;
    width: 320px;
    background-color:#ff7800;
    border:none 0;
    outline:none;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    *zoom:1;
}

.inputBox .input_tip {
    position:absolute;
    left:171px;
    top:32px;
    width:277px;
    background:#fff;
    border:1px solid #A3C2D9;
    border-top:none;
    z-index:100;
}

/* 判断时候输入框边框变色 */
.inputBlock .bor_green,.inputBox .bor_green,.inputName .bor_green,.inputPassword .bor_green {
    border:1px solid #96bf64;
}
.inputBlock .bor_red,.inputBox .bor_red,.inputName .bor_red,.inputPassword .bor_red {
    border:1px solid #d80100;
}
.inputBlock .bor_blue,.inputBox .bor_blue,.inputName .bor_blue,.inputPassword .bor_blue {
    border:1px solid #0094ff;
}
.swfwrap
{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    *zoom: 1;
}

#personUnit{
    /*background-color: #f4f4f4;*/
    padding: 0 50px 50px;
}
/* search_suggest pop css */
.autocomplete {
    position: absolute;
    left: 0;
    top: 36px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-top: 0;
    width: 499px;
    z-index: 99;
}
.autocomplete li {
    position: relative;
    color: #222;
    cursor: pointer;
    display: block;
    float: none;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
}
.autocomplete .hover {
    background-color: #f9f9f9;
}
.autocomplete .hover a {
    text-decoration: none;
}
.autocomplete li i {
    position: absolute;
    right: 10px;
    top: 0;
    color: #999;
    font-style: normal;
}
.autocomplete li .area {
    color: #999;
    margin-left: 20px;
}

.autocomplete{ width:320px; left:400px; top:50px;}
.autocomplete li{
    border: 1px solid #fff;
}
/*.inputBox:hover .autocomplete .hover{border: 1px solid #0094ff; background-color: #f9f9f9; background-image:none;}*/
.autocomplete .hover {
    border: 1px solid #fff;
    background: #f9f9f9;
}

/*=====fabu successs=======*/