@charset "utf-8";
/* for house search */
.form-control.wl {
	width: 40%;
}
.table-house {
	border: 1px solid #ccc;
}
.table-house th {
	background-color: #f9f9f9;
	text-align: center;
	font-weight: 500;
}
.table-house td {
	text-align: center;
}